---
layout: archive
---


<p><a href="/files/Yifan_Zhang_cv.pdf">Curriculum Vitae</a></p>

I am a DPhil (PhD) candidate in Economics at the University of Oxford, funded by the Departmental Doctoral Bursary and the David Walton Distinguished Doctoral Scholarship.

<hr>
My research interests span macroeconomics and macrofinance, with a specific focus on expectation formation and bounded rationality.

<ul style="font-size: 0.9em;">
  <li> <strong>Job Market Paper:</strong>: <a href="/file/JMP_YZhang/">Rational Inattention Choices in Firms and Households</a>, <span style="color: #980000; font-style: italic;">draft coming soon!</span></p>  </li>
    <ul style="font-size: 0.7em; margin-top: -0.5em; margin-bottom: 0;">
      <li> Upcoming presentations: Annual Conference of the Money, Macro and Finance (MMF) Society, Manchester, September 4-6; JME-SNB-Gerzensee Conference, Gerzensee, October 25-26
    </ul>
</ul>


<p>



