---
layout: archive
---


<p style="font-size: 0.95em;"><a href="/files/CV_Yifan_Zhang.pdf">Curriculum Vitae</a></p>

<p style="font-size: 0.95em;">I am a DPhil (PhD) candidate in Economics at the University of Oxford, funded by the Departmental Doctoral Bursary and the David Walton Distinguished Doctoral Scholarship.</p>

<hr>
<p style="font-size: 0.95em;">My research interests span macroeconomics, Information Economics, and Macro-finance.</p>

<ul style="font-size: 0.9em;">
  <li> <strong>Job Market Paper:</strong>: <a href="/files/papers/JMP_Yifan_Zhang.pdf">Rational Inattention Choices in Firms and Households</a>, <span style="color: #980000; font-style: italic;">draft coming soon!</span></p>  </li>
    <ul style="font-size: 0.8em; margin-top: -0.5em; margin-bottom: 0;">
      <li> Upcoming presentations: Annual Conference of the Money, Macro and Finance (MMF) Society, Manchester, September 4-6; JME-SNB-Gerzensee Conference, Gerzensee, October 25-26
    </ul>
</ul>


<p>



