---
layout: archive
---


<p><a href="/files/kasycv.pdf">Curriculum Vitae</a></p>

I am a DPhil (PhD) candidate in Economics at the University of Oxford, funded by the Departmental Doctoral Bursary and the David Walton Distinguished Doctoral Scholarship.

<hr>
My research interests span macroeconomics and macrofinance, with a specific focus on expectation formation and bounded rationality.

<ul>
  <li> <strong>Job Market Paper:</strong>: <a href="/file/JMP_YZhang/">Rational Inattention Choices in Firms and Households</a>, draft coming soon</p>  </li>
</ul>


<p>



